@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('../fonts/open-sans-v27-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v27-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
    url('../fonts/open-sans-v27-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/open-sans-v27-latin_cyrillic-700.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
    url('../fonts/open-sans-v27-latin_cyrillic-600.woff2') format('woff2'),
    url('../fonts/open-sans-v27-latin_cyrillic-600.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('../fonts/open-sans-v27-latin_cyrillic-italic.woff2') format('woff2'),
    url('../fonts/open-sans-v27-latin_cyrillic-italic.woff') format('woff');
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after  {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img, svg {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

body {
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
  background-color: var(--grey-white);
}

:root {
  --black: #333333;
  --white: #FFFFFF;
  --grey-white: #F5F5F5;
  --txt_grey: #B0B0B0;
  --grey: #C8C5D1;
  --firm: #9873FF;
  --red: #F06A4D;
  --green: #30BF39;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1700px;
}

.modal {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal-subdiv {
  display: flex;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  margin-left: 30px;
  font-size: 18px;
  line-height: 24.51px;
  font-weight: 700;
}

.modal-id {
  margin: 0;
  margin-left: 9px;
  color: var(--txt_grey);
}

.modal-text {
  margin: 0;
  margin-bottom: 25px;
  max-width: 275px;
  text-align: center;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--txt_grey);
  cursor: pointer;
  transition: color .3s;
}

.modal-close:hover {
  color: var(--firm);
}

.modal-close:focus {
  outline: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.modal-label {
  position: relative;
  display: block;
  width: 400px;
  margin-bottom: 32px;
}

.modal-value {
  font-size: 10px;
  line-height: 13.5px;
  color: var(--txt_grey);
}

.modal-value-star {
  color: var(--firm);
}

.modal-input {
  padding: 0;
  padding-bottom: 6px;
  border: none;
  border-bottom: 1px solid var(--grey);
  width: 400px;
  font-weight: 600;
  background: none;
}

.modal-input::placeholder {
  line-height: 19px;
  color: var(--txt_grey);
}

/*
.modal-input::placeholder {
  font-weight: 600;
  color: var(--firm);
}
*/

.modal-input:focus {
  outline: none;
}

.modal-contact {
  margin-bottom: 25px;
  padding: 8px 0;
  border: none;
  width: 100%;
  font-weight: 600;
  background-color: var(--grey);
  cursor: pointer;
}

.modal-btn {
  margin-bottom: 5px;
  border: none;
  padding: 14px 35px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--firm);
  cursor: pointer;
}

.modal-subbtn {
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--black);
  font-size: 12px;
  background: none;
  cursor: pointer;
}

.just-validate-error-label {
  position: absolute;
  line-height: 1;
}

.is-valid {
  border-color: var(--green);
}

.is-invalid {
  border-color: var(--red);
}

/* header */

.header {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--white);
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header__svg {
  margin-right: 53px;
}

.header__label {
  position: relative;
}

.header__input {
  padding: 13px 15px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  width: 581px;
  background: none;
}

.header__input:focus {
  outline: none;
}

.header__input::placeholder {
  font-size: 14px;
  line-height: 19px;
  color: var(--txt_grey);
}

/* table */

.table {
  padding-top: 20px;
  padding-bottom: 102px;
}

.table__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  color: var(--black);
}

.table__preloader-div {
  position: relative;
}

.table__preloader-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  width: 900px;
  height: 300px;
  background-color: var(--white);
}

.loaded_hiding .table__preloader-background {
  transition: 100s opacity;
  opacity: 0;
}

.loaded .table__preloader-background {
  display: none;
}

.table__preloader {
  position: relative;
  transform: translateZ(0) scale(1);
}

.table__preloader div {
  position: absolute;
  top: 114px;
  left: 446px;
  border: 4px solid var(--firm);
  border-top-color: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: preloader 1s linear infinite;
}

@keyframes preloader {
  0% { 
    transform: translate(-50%,-50%) 
    rotate(0deg); 
  }

  100% { 
    transform: translate(-50%,-50%) 
    rotate(360deg); 
  }
}

.table__main {
  margin-bottom: 40px;
  border-collapse: collapse;
}

.table__main-cell {
  margin: 0;
  padding: 0;
}

.table__subtitle {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--txt_grey);
}

.table__subtitle:first-child {
  color: var(--firm);
}

.table__cell {
  border-bottom: 1px solid var(--grey);
  background-color: var(--white);
}

.table__cell td {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 240px;
}

.table__id {
  padding-left: 20px;
  padding-right: 28px;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: var(--txt_grey);
}

.table__btn {
  border: none;
  background: none;
  cursor: pointer;
}

.table__btn:first-child {
  margin-right: 30px;
}

.table__div-subbtn {
  display: flex;
  justify-content: center;
}

.table__btn-svg {
  margin-right: 6px;
}

.table__subbtn {
  border: 1px solid var(--firm);
  padding: 11.5px 25.5px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: var(--firm);
  background: none;
  cursor: pointer;
}

/* cart */

.cart {
  position: relative;
  padding-top: 24px;
  padding-bottom: 29px;
  width: 450px;
  background-color: var(--white);
  transition: .5s;
}

/* change */

.change {
  position: relative;
  padding: 24px 0;
  width: 450px;
  background-color: var(--white);
  transition: .5s;
}

/* del */

.del {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 27px;
  width: 450px;
  background-color: var(--white);
  transition: .5s;
}

.del__title {
  margin-bottom: 11px;
}
